<ion-header>
  <ion-toolbar>
    <ion-title><b>Planner</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Calendario orizzontale -->
  <div class="calendar-container">
    <div class="day"
        *ngFor="let day of days"
        [class.today]="day.isToday"
        [class.selected]="selectedDay && selectedDay.date.toDateString() === day.date.toDateString()"
        (click)="selectDay(day)">
      {{ day.date | date:'EEE dd' }}
    </div>
  </div>


  <div class="study-load" *ngIf="getTodayStudyLoad() as load">
    <p>Oggi: <b>{{ load.hours }} h di studio previste</b></p>
    <small> {{ load.tasks.length }} task contribuiscono a queste ore </small>
  </div>

  <!-- Task del giorno selezionato -->
  <div class="tasks-container" *ngIf="selectedDay">
    <h3>Task del {{ selectedDay.date | date:'fullDate' }}</h3>
    <p *ngIf="!tasks[selectedDay.date.toDateString()] || tasks[selectedDay.date.toDateString()].length === 0">
      Nessuna task per questo giorno.
    </p>

    <ion-item *ngFor="let task of tasks[selectedDay.date.toDateString()]" class="task-card" button (click)="openTaskDetails(task)">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p *ngIf="task.subject">
          {{ task.subject }} - {{ task.day | date:'shortDate' }}
          <span *ngIf="task.time">ore {{ task.time }}</span>
        </p>
      </ion-label>
    </ion-item>
  </div>

  <!-- Pulsante per aprire modale -->
  <ion-button expand="full" class="ion-margin add-task-btn" (click)="openAddTaskModal()">
    + Aggiungi Task
  </ion-button>

</ion-content>

<!-- Barra di navigazione -->
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="tab" [class.active]="activeTab === 'planner'" (click)="navigate('planner')">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Planner</ion-label>
        </ion-col>

        <ion-col class="tab" [class.active]="activeTab === 'stats'" (click)="navigate('stats')">
          <ion-icon name="bar-chart-outline"></ion-icon>
          <ion-label>Statistiche</ion-label>
        </ion-col>

        <ion-col class="tab" [class.active]="activeTab === 'focus'" (click)="navigate('focus')">
          <ion-icon name="timer-outline"></ion-icon>
          <ion-label>Focus</ion-label>
        </ion-col>

        <ion-col class="tab" [class.active]="activeTab === 'profile'" (click)="navigate('profile')">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profilo</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>