<ion-content class="login-page">

  <div class="login-container">

    <!-- LOGO -->
    <div class="logo-container">
      <img src="assets/icon/logo.png" alt="Logo MyStudyPlanner" class="logo-image">
      <h1>MyStudyPlanner</h1>
    </div>

    <!-- FORM -->
    <form class="form-wrapper" (ngSubmit)="login()">

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button type="submit" class="login-btn">
        Accedi
      </ion-button>

    </form>

    <!-- LINK REGISTRAZIONE -->
    <div class="register-link">
      <p>Non hai un account? <a routerLink="/register">Registrati</a></p>
    </div>

  </div>

</ion-content>